.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
    background-color: rgba(27, 30, 31, 0.7);
    // padding: 1.8rem 1.6rem 0;
    border-radius: 4px;
    gap: 1.6rem;
    // line-height: 1.6rem;
    color: var(--white-color);
}
.header {
    display: flex;
    font-size: 1.6rem;
    gap: 1.6rem;
    align-items: center;
    color: var(--white-color);

    padding: 1.8rem 1.6rem 4px;
    border-bottom: 1px solid var(--white-color);
}
.totalUser {
    font-size: 2.8rem;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    padding: 0 1.6rem 0;
}
.table {
    width: 100%;
    border-collapse: separate; /* Sử dụng separate để áp dụng border-radius */
    border-spacing: 0; /* Đặt khoảng cách giữa các ô thành 0 */
}
.table > thead {
    background-color: rgb(128 128 128);
    color: var(--white-color);
}

table {
    border: 1px solid #cccccc;
    border-radius: 4px;
    overflow: hidden;
}
td,
th {
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 1rem;
}

.table > thead :nth-child(1) {
    width: 5%;
}
.table > thead :nth-child(2) {
    width: 20%;
}
.table > thead :nth-child(3) {
    width: 20%;
}
.table > thead :nth-child(4) {
    width: 30%; // 70 + 5 + 15 + 10
}
.table > thead :nth-child(5) {
    width: 10%;
}
.table > thead :nth-child(6) {
    width: 15%;
}

.footer {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    padding: 8px 1.8rem;
    background-color: rgb(160, 160, 159);
    gap: 1.6rem;
    position: sticky;
    bottom: 0;
    // left: 0;
}

.attention {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
