.wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
}
.container {
    width: 100%;
    min-height: 100%;
}
.BackGroupAdmin {
    // width: 100%;
    height: 100%;
}
.Content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(27, 30, 31, 0.7);
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.title {
    position: absolute;
    top: 20%;
    width: 0px;
    padding: 1.6rem 0;
    color: var(--white-color);
    white-space: nowrap;
    background-color: transparent;
    font-size: 5rem;
    overflow: hidden;
    border-right: 1px solid var(--white-color);
    animation: typing 5s steps(20, end) infinite,
        blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 30%;
    }

    99% {
        width: 0%;
    }
    100% {
        width: 0%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--white-color);
    }
}
