.wrapper {
    width: 100%;
    padding: 1.6rem 2rem;
    height: 8rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(27, 30, 31, 0.3);
}
.wrapper-logo {
    height: 80%;
}
.logo {
    height: 6rem;
}
