.wrapper {
    width: 100%;
    font-size: 1.6rem;
    position: relative;
}

.title {
    text-align: center;
}

// from
.wrapper-from {
    padding: 2rem;
    font-size: 1.6rem;
}
.from-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 1rem;
}

.label-input {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 16px;
}
.input {
    height: 5rem;
    border: 1px solid rgba(24, 25, 25, 0.28);
    border-radius: 8px;
    padding: 0 1.6rem;
    font-weight: 400;
    font-size: 1.6rem;
}
.placeholder {
    margin-left: 8px;
    color: red;
}
.wrapper-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.8rem;
}
