.wrapper {
    display: flex;
    align-items: center;
    font-family: "Oswald", sans-serif;
    justify-content: start;
    min-width: 13rem;
    padding: 9px 16px;
    border-radius: 8px;
    font-size: 1.8rem;
    border: 1px solid transparent;
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.deleteBtn {
    color: var(--black-color);
    background-color: rgba(237, 20, 20, 0.949);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }
}

.border {
    border: 1px solid var(--black-color);
}

.primary {
    background-color: #ff8f26;
    &:hover {
        background-color: #ff5117;
    }
}

.createBtn {
    color: var(--black-color);
    background-color: rgb(247, 235, 12);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #edf428eb;
    }
}

.icon {
    display: inline-block;
    position: absolute;
    font-size: 2.4rem;
    color: var(--black-color);
    text-align: center;
}
.iconRight {
    display: inline-block;
    font-size: 2.4rem;
    color: var(--black-color);
    text-align: center;
}
.submit {
    color: #fe2c55;
    border-color: currentColor;
    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 84, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    width: 100%;
    min-width: 140px;
}

.title {
    width: 100%;
}

/// animation

.loading {
    animation: loadingAnimation 1s linear infinite; /* Đặt thời gian và kiểu animation */
    transform-origin: center; /* Đặt điểm gốc của transform */
}

@keyframes loadingAnimation {
    to {
        transform: rotate(360deg); /* Xoay 360 độ */
    }
    from {
        transform: rotate(0deg); /* Khởi đầu từ 0 độ */
    }
}
.hidden {
    opacity: 0;
}

.countRestore {
    margin-left: 4px;
}
