.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.container {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 1px;
}
.sidebar {
    min-height: 100%;
    flex: 0 0 20%;
}
.content {
    min-height: 100%;
    flex: 0 0 calc(80% - 1px);
}
